body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#background {
  z-index: -100;
  position: fixed;
  object-fit: cover;
  display: none;
}
a:link, a:visited {
  text-decoration: none;
  color: SeaShell;
  font-family: monospace;
  font-size: 30px;
}
a:hover {
  color: GoldenRod;
}
h1 {
  font-family: fantasy;
  font-size: 100px;
  font-weight: bold;
  color: SeaShell;
  text-align: center;
}
h2 {
  font-family: "Courier New", monospace;
  color: GoldenRod;
  text-align: center;
}
h3 {
  text-align: center;
  font-family: monospace;
  color: DarkRed;
}
#audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#FastPaced {
  max-width: 10%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#Commitment {
  max-width: 10%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#MovieScenes {
  max-width: 10%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
