#background {
  z-index: -100;
  position: fixed;
  object-fit: cover;
}
#logo {
  z-index:auto;
  position: fixed;
}
a:link, a:visited {
  text-decoration: none;
  color: SeaShell;
  font-family: monospace;
  font-size: 30px;
}
a:hover {
  color: GoldenRod;
}
h1 {
  font-family: fantasy;
  font-size: 100px;
  font-weight: bold;
  color: SeaShell;
  text-align: center;
}
h2 {
  font-family: "Courier New", monospace;
  color: GoldenRod;
  text-align: center;
}
